<div class="mx-auto">
    <table class="grid grid-cols-1 mx-auto">
        <tbody class="">
            <tr class="text-slate-900 py-0.5 border-b border-b-gray-300 grid grid-cols-2">
                <td class="px-2 font-semibold" scope="col">Código</td>
                <td class="px-2" scope="col">{{student.codeStudent}}</td>
            </tr>
            <tr class="text-slate-900 py-0.5 border-b border-b-gray-300 grid grid-cols-2">
                <td class="px-2 font-semibold" scope="col">Apellido Paterno</td>
                <td class="px-2" scope="col">{{student.firstLastname}}</td>
            </tr>
            <tr class="text-slate-900 py-0.5 border-b border-b-gray-300 grid grid-cols-2">
                <td class="px-2 font-semibold" scope="col">Apellido Materno</td>
                <td class="px-2" scope="col">{{student.secondLastname}}</td>
            </tr>
            <tr class="text-slate-900 py-0.5 border-b border-b-gray-300 grid grid-cols-2">
                <td class="px-2 font-semibold" scope="col">Nombres</td>
                <td class="px-2" scope="col">{{student.names}}</td>
            </tr>
            <tr class="text-slate-900 py-0.5 border-b border-b-gray-300 grid grid-cols-2">
                <td class="px-2 font-semibold" scope="col">Facultad</td>
                <td class="px-2" scope="col">{{student.faculty}}</td>
            </tr>
            <tr class="text-slate-900 py-0.5 border-b border-b-gray-300 grid grid-cols-2">
                <td class="px-2 font-semibold" scope="col">Especialidad</td>
                <td class="px-2" scope="col">{{student.specialty}}</td>
            </tr>
            <tr class="text-slate-900 py-0.5 border-b border-b-gray-300 grid grid-cols-2">
                <td class="px-2 font-semibold" scope="col">Ciclo relativo</td>
                <td class="px-2" scope="col">{{student.cycle}}</td>
            </tr>
            <tr class="text-slate-900 py-0.5 border-b border-b-gray-300 grid grid-cols-2">
                <td class="px-2 font-semibold" scope="col">Situación</td>
                <td class="px-2" scope="col">{{student.condition}}</td>
            </tr>
        </tbody>
    </table>
</div>