<div class="my-5">
    <div class="px-8 py-5 text-center">
        <h1 class="text-center">Registro de Cursos</h1>
    </div>
    <app-form-courses (registerCourse)="getDataCourse($event)"></app-form-courses>
    <div class="pl-10 max-w-5xl">
        <mat-form-field class="w-full" appearance="standard">
            <mat-label>Buscar Curso</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Estadística" #input>
        </mat-form-field>
    </div>
    <div class="overflow-auto px-10 shadow-none mat-elevation-z8">
        <table mat-table class="w-full text-center" [dataSource]="dataCourses" matSort>
            <ng-container matColumnDef="id">
                <th class="bg-zinc-800 text-neutral-50 text-center font-semibold" mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="nameCourse">
                <th class="bg-zinc-800 text-neutral-50 text-center font-semibold" mat-header-cell *matHeaderCellDef>Nombre Curso</th>
                <td mat-cell *matCellDef="let element"> {{element.nameCourse}} </td>
            </ng-container>

            <ng-container matColumnDef="credits">
                <th class="bg-zinc-800 text-neutral-50 text-center font-semibold" mat-header-cell *matHeaderCellDef>N° créditos</th>
                <td mat-cell *matCellDef="let element"> {{element.credits}} </td>
            </ng-container>

            <ng-container matColumnDef="typeEvaluation">
                <th class="bg-zinc-800 text-neutral-50 text-center font-semibold" mat-header-cell *matHeaderCellDef>Tipo de Evaluación</th>
                <td mat-cell *matCellDef="let element"> {{element.typeEvaluation}} </td>
            </ng-container>

            <ng-container matColumnDef="sectionTotal">
                <th class="bg-zinc-800 text-neutral-50 text-center font-semibold" mat-header-cell *matHeaderCellDef>Cantidad de secciones</th>
                <td mat-cell *matCellDef="let element"> {{element.sectionTotal}} </td>
            </ng-container>

            <ng-container matColumnDef="vacantTotal">
                <th class="bg-zinc-800 text-neutral-50 text-center font-semibold" mat-header-cell *matHeaderCellDef>Cantidad de vacantes</th>
                <td mat-cell *matCellDef="let element"> {{element.vacantTotal}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th class="bg-zinc-800 text-neutral-50 text-center font-semibold" mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let element" class="pr-0">
                    <button class="bg-amber-400 hover:bg-amber-300 text-neutral-50 mr-3" mat-raised-button (click)="editCourse(element.id)">
                        <i class="fa-regular fa-pen-to-square mr-1"></i>
                        <span>Editar</span>
                    </button>
                    <button class="bg-red-500 hover:bg-red-400 text-neutral-50" mat-raised-button (click)="deleteCourse(element.id)">
                        <i class="fa-regular fa-trash-can mr-1"></i>
                        <span>Eliminar</span>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

            <ng-container *ngIf="emptyTable">
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No hay datos para el filtro "{{input.value}}"</td>
                </tr>
            </ng-container>
        </table>
        <mat-paginator class="bg-neutral-200" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of students elements">
        </mat-paginator>
    </div>
</div>
